.header {
    color: whitesmoke;
    background-color: darkslateblue;
}

.img_portfolio {
    min-width:250px;
    height:200px;
    border-radius:5px;
    margin:auto;
}

.header_padel {
    background-color: darkslateblue;
    color: whitesmoke;
}

.img_padel {
    min-width: 300;
    height: 250;
    border-radius: 5px;
    margin: auto;
}